@model Pap2020.Models.Tipo_Utilizador

@{
    ViewBag.Title = "Delete";
}

<h2>Remoçao da Role</h2>

<h3>Tens a certeza que pretendes apagar esta Role?</h3>
<div>
    <h4>Tipo_Utilizador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome_tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_tipo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
