
@{
    ViewBag.Title = "SenhaRecup";
}

<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8" />
    <title>Esqueceu-se da sua senha?</title>
</head>
<body>
    <h1>Contacte um Administrador ou alguem responsável para proceder há recuperação da password.</h1>
</body>
</html>

